@media screen and (max-width: 768px) {
  body {
    background-color: blueviolet;
    margin: 50px;
    padding: 20px;
  }
  img {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-color: blueviolet;
    margin: 50px;
    padding: 20px;
  }
  img {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1718px) {
  body {
    background-color: blueviolet;
    margin: 50px;
    padding: 20px;
  }
  img {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}
